.grass{
  background-color: rgba(172, 255, 47, 0.9);
}

.poison{
  background-color: violet;
}

.water{
  background-color: rgba(58, 193, 255, 0.9);
}

.fire{
  background-color: rgba(255, 68, 0, 0.9);
}

.electric{
  background-color: rgba(255, 255, 0, 0.9);
}

.normal{
  background-color: blanchedalmond;
}

.fighting{
  background-color: gold;
}

.flying{
  background-color: lightblue;
}

.ground{
  background-color: rgba(165, 42, 42, 0.9);
}

.rock{
  background-color: grey;
}

.bug{
  background-color: darkgreen;
}

.ghost{
  background-color: blueviolet;
}

.steel{
  background-color: silver;
}

.psychic{
  background-color: burlywood;
}

.ice{
  background-color: lightcyan;
}

.dragon{
  background-color: orange;
}

.dark{
  background-color: black;
}

.fairy{
  background-color: pink;
}

.stellar{
  background-color: darkkhaki;
}

.unknown{
  background: linear-gradient(135deg, lightblue, yellow);
}