.detailCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  padding: 1.5em;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2em;
}

.arrowWrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: .25em;
}

.arrowWrapper div {
  font-size: 2em;
  width: 48px;
}

.pictureWrapper{
  display: flex;
  width: 100%;
  height: 30%;
  z-index: 1;
}

.backgroundOfDetail{
  width: 100%;
  opacity: 0.6;
  position: fixed;
  top: 84px;
  left: 0;
}

.types{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  justify-content: space-evenly;
}

.types p{
  font-size: 1.5em;
}

.pokemonPicture{
  width: 75%;
  height: auto;
  object-fit: fill;
  overflow: visible;
}

.nameNumberWrapper{
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
  z-index: 1;
  background-color: white;
}

.stats{
  display: flex;
  justify-content: space-between;
}

.column{
  display: flex;
  flex-direction: column;
}

.white{
  background-color: white;
}