.detailCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  padding: 1.5em;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2em;
}

.arrowWrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: .25em;
}

.arrowWrapper div {
  font-size: 2em;
  width: 48px;
}

.pictureWrapper{
  display: flex;
  width: 100%;
  height: 30%;
  z-index: 1;
}

.backgroundOfDetail{
  width: 100%;
  opacity: 0.6;
  position: fixed;
  top: 84px;
  left: 0;
}

.types{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  justify-content: space-evenly;
}

.types p{
  font-size: 1.5em;
}

.pokemonPicture{
  width: 75%;
  height: auto;
  object-fit: fill;
  overflow: visible;
}

.nameNumberWrapper{
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
  z-index: 1;
  background: linear-gradient(90deg, grey, #ffffff);
}

.stats{
  display: flex;
  justify-content: space-between;
}

.column{
  display: flex;
  flex-direction: column;
}

.column p{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.white{
  background: linear-gradient(90deg, grey, #ffffff);
  overflow: hidden;
  text-overflow: ellipsis;
}

.halfWidth{
  width: 50%;
}

.smallerWidth{
  width: 22%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.pokemonPicture:hover {
  transition: transform 0.3s ease;
}

.pokemonPicture:hover:hover {
  animation: bounce 0.6s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}